<!DOCTYPE html>
<html>

   <script src="angular.min.js"></script>
   <script type="text/javascript" src="todoCtrl.js"></script>

   <head>
      <link rel="stylesheet" type="text/css" href="style.css">
   </head>

   <body ng-app="ToDoList" ng-controller="todoCtrl">

      <h2>My Todo List</h2>
      <form ng-submit="todoAdd()">
         <input type="text" ng-model="todoInput" size="50" placeholder="New Item" required>
         <input type="submit" value="Add New">
      </form>

      <br>

      <div id = "todoItems">
         <span style="font-style:italic;">{{todoInput}}</span>
         <div ng-repeat="x in todoList | reverse">
            <input type="checkbox" ng-model="x.done" ng-click="completed(x.done, x)"><span ng-bind="x.todoText" ng-dblclick="editTodo(x)"></span>
         </div>
      </div>

      <p>
         <button ng-click="remove()">Clear Completed</button>
         <button ng-click="clearAll()">Clear All</button>
      </p>
      
   </body>
</html>